.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: 4em;
  left: 2em; */
}

.banner {
  /* position: relative; */
  /* margin-top: 7%; */
}