.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal-text-body {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7vw; 
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2vw;
}

.first-paragraph {
  margin-top: 1.6vw;
}

.jelena-pic-box {
  width: 50vw;
  height: 21vw;
  border: 0.2vw solid #53A2BE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jelena-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: 100% 30%;
  border: 0.2vw solid #53A2BE;
}

.letter-h-and-text {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.jelena-pic-caption{
  font-size: 0.8vw;
  width: 15vw;
  margin-left: 1.8em;
}

.fireplace-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 1em;
}

.fireplace {
  width: 12vw;
  height: 12vw;
  margin-right: 0.5em;
}

.sofachair {
  width: 8vw;
  height: 8vw;
  position: relative;
  top: 2.5vw;
}
