.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vw;
}

.vertical-text-body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-direction: column;
}

.job {
    font-size: 1.2vw;
    width: 40vw;
}

.microsoft {
    width: 37%;
    height: 37%;
}

.eighty-four-fifty-one {
    width: 25%;
    height: 25%;
}

.morningstar {
    width: 35%;
    height: 35%;
}

.uic {
    width: 29%;
    height: 29%;
}

.all-the-way-right {
    margin-left: auto;
}

.title-and-date {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* gap: 3em; */
}

.text-and-pic {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vw; 
}

.job-pic-box {
    width: 16vw;
    height: 17vw;
    border: 0.2vw solid #53A2BE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fake-pic-box{
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.job-pic-caption{
    font-size: 0.8vw;
    width: 13vw;
    margin-left: 0.3em;
  }
  
.cubs-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: 100% 60%;
    border: 0.2vw solid #53A2BE;
}

.crew-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: 51% 30%;
    border: 0.2vw solid #53A2BE;
}

.arduino-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: 30% 100%;
    border: 0.2vw solid #53A2BE;
}

.scooch-right {
    margin-left: 1em;
}